body{
    background-color: white;
}
.container{
    display: grid;
    border: 2px solid black;
    height: 300px;
    /* width: 900px; */
    gap: 10px;
    grid-template-columns:repeat(12,1fr);
}
.row1,.row2,.row3{
    border: 1px dotted red;
}
.row1{
    /* grid-column-start: 3;
    grid-column-end: 7; */
    grid-column: 3/7;
    grid-template-columns: 2;
    grid-template-rows: 2;
    /* grid-row-start: 1;
    grid-row-end: 2; */
    grid-row: 1/2;;
    display: grid;
    background-color: chartreuse;
}
.row1col1,.row1col2,.row1col3,.row1col4{
    height: 70px;
    border: 1px solid red;
}
.row1col1{
    grid-column: 1/2;
    grid-row: 1/2;
}
